/* Topbar flexbox */
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.topbar div {

    font-size: 15px;


}

/* Build flexboxs for title, body, and buttons */

.mainsec {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;

}

.mainsec h1 {
    font-size: 25px;
    align-self: center;
}

.mainsec h2 {
    font-size: 25px;
    margin: auto;
    width: 75%;
    text-align: center;

}

.result {
    font-size: 25px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.mainsec button {
    background-color: white;
    font-size: 25px;
    width: 50%;
    margin: auto;
}

.mainsec button:hover {
    background-color: blue;
}

/* Question Styles */
.qbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;


}

.answer {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    /* max-width: 25%; */
    padding: 20px
}

.qbox button {
    background-color: white;

}

.qbox button:hover {
    background-color: blue;

}

/* HighScore style */
.score {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.score input {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    /* max-width: 25%; */
    padding: 20px
}

.score h2 {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

}

.score button {
    background-color: white;
    font-size: 25px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

}

.score button:hover {
    background-color: blue;
}